@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  /* Colors */
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  width: 100vw;
  height: 100vh;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  background-color: white;
  border-radius: 11px;
}

.img_drawears {
  width: 300px;
  height: 300px;
  border-radius: 11px 0px 0px 11px;
}

.text_container {
  padding: 1rem 3rem 2rem 2rem;
}

.main_title {
  font-family: "Manrope", sans-serif;
  color: var(--Very-Dark-Grayish-Blue);
  margin-bottom: 1rem;
  font-weight: 700;
}

.main_paragraph {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: var(--Desaturated-Dark-Blue);
  font-weight: 500;
  margin-bottom: 1.2rem;
  line-height: 1.3rem;
  text-align: justify;
}

.avatar_container {
  display: flex;
  gap: 1rem;
}

.title_profile {
  font-family: "Manrope", sans-serif;
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
  margin-bottom: 2px;
}

.paragraph_profile,
.text_square_container {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: var(--Grayish-Blue);
  font-weight: 500;
}

.avatar_img {
  width: 50px;
  border-radius: 2rem;
}

.share_button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: var(--Light-Grayish-Blue);
  position: relative;
  left: 11rem;
  border: none;
  top: 2px;
  cursor: pointer;
}

.share_img {
  width: 18px;
  position: relative;
  top: 3%;
  left: 5%;
}

.svg-white {
  filter: brightness(0) invert(1);
}

.svg-background-click {
  background-color: var(--Desaturated-Dark-Blue);
}

.open {
  visibility: hidden;
}

.square-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  width: 30%;
  height: 55px;
  border-radius: 6px;
  top: 8.6rem;
  right: -3.6rem;
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 1rem;
}

.square-container::before {
  content: "";
  position: absolute;
  top: 128%;
  left: 48%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 16px;
  border-style: solid;
  border-color: var(--Very-Dark-Grayish-Blue) transparent transparent
    transparent;
}

/* Tablets */
@media (max-width: 768px) {
  .sub_container {
    flex-direction: column;
  }

  .img_drawears {
    width: 100%;
    height: auto;
    border-radius: 11px 11px 0 0;
  }

  .text_container {
    padding: 1.5rem;
  }

  .share_button {
    position: relative;
    left: 27%;
    top: 5px;
  }

  .square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    width: 49%;
    height: 55px;
    border-radius: 6px;
    top: 35.6rem;
    right: 1.5rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    padding: 1rem;
  }

  .square-container::before {
    content: "";
    position: absolute;
    top: 128%;
    left: 48%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent
      transparent;
  }
}

/* Mobile Version */

@media (max-width: 500px) {
  .sub_container {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 536px;
  }

  .img_drawears {
    width: 100%;
    height: 215px;
    border-radius: 11px 11px 0px 0px;
  }

  .text_container {
    padding: 1.5rem;
  }

  .main_title {
    font-size: 18px;
  }

  .main_paragraph {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 15px;
  }

  .avatar_img {
    margin-top: 1rem;
  }
  .text_profile_container {
    margin-top: 1.5rem;
  }

  .share_button {
    position: relative;
    z-index: 2;
    left: 31px;
    top: 39px;
    width: 31px;
    height: 30px;
  }

  .share_img {
    width: 16px;
  }
  .square-container {
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    position: absolute;
    width: 100%;
    height: 72px;
    border-radius: 0px 0px 11px 11px;
    top: 29rem;
    right: 0rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    padding: 2rem;
  }
  .square-container::before {
    border-color: transparent transparent transparent transparent;
  }
}
